<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<meta http-equiv="refresh" content="400" >
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>
	Статистика отправки файла на магазины
	</title>
	<style type="text/css">
		td{{ 
			border: 1px solid
		}}	
		table{{ 
			border-collapse: collapse
		}}			
	</style>
</head>
<body>
<h1>
	Файл {filename}
</h1>
	<ul>
		<li>Размер файла - {filesize}</li>
		<li>Количество магазинов - {hostnum}</li>
		<li> Задача полностью выполнена на {bo_sent_num} магазинах ({bo_percentage:.2f}%)</li>
		<li> Задача выполнена на {pos_sent_num} доступных кассах ({pos_percentage:.2f}%)</li>
		<li>Обновлено - {timestamp}</li>
	</ul>
<a name="contents" />
	<h2>
	Навигация
</h2>
	<ul><li><a href="#gen_stat">Статистика по магазинам</a></li>
		<li><a href="#sent2bo">Обработка завершена</a></li>
		<li><a href="#pos_send">Статистика по кассам</a></li>
		<li><a href="#not_connected_bo">Нет связи с магазинами</a></li>
		<li><a href="#not_connected_pos">Нет связи с кассами</a></li>
		<li><a href="#not_sent_bo">Магазины, не завершено</a></li>
		<li><a href="#not_sent_pos">Кассы, не завершено</a></li>
	</ul>


<h2>Таблицы</h2>
<h3><a name="gen_stat" />Статистика по магазинам</h3> <a href="#contents">Наверх</a>
		{bostat_tr}

<h3><a name="sent2bo" /> Обработка завершена</h3> <a href="#contents">Наверх</a>
{bosent}

		
<h3><a name="pos_send" />Статистика по кассам</h3> <a href="#contents">Наверх</a>	
		{posstat_tr}

<h3><a name="not_connected_bo" /> Нет связи с магазинами</h3> <a href="#contents">Наверх</a>
		{bonotaccess}

<h3><a name="pos_notaccess" />Нет связи с кассами</h3> <a href="#contents">Наверх</a>
		{posnotaccess}
	
<h3><a name="not_sent_bo" /> Магазины, не завершено</h3> <a href="#contents">Наверх</a>
		{bonotsent}
	
<h3><a name="not_sent_pos" />Кассы, не завершено</h3> <a href="#contents">Наверх</a>
		{posnotsent}
	


		
</body>
</html>